img {
    height: auto;
    display: block;
    max-width: 100%;
}

.landing {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


.hero {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    flex: 1 1 50%;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.hero-content button {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    background: #28a745;
    padding: 0.75rem 1.5rem;
}

.hero-image {
    flex: 1 1 50%;
    text-align: center;
}

.hero-image img {
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

.tech {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.imagenes {
    gap: 1rem;
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: flex-start;
}

.imagenes a {
    flex: 1 1 45%;
    max-width: 100%;
}

.logo {
    width: 100%;
    height: auto;
    max-height: 10rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.tech h1 {
    margin: 0;
    flex: 1 1 40%;
    font-size: 1.5rem;
    text-align: right;
}

/* Responsive */
@media (max-width: 768px) {
  
    .hero {
        text-align: center;
        flex-direction: column;
    }

    .hero-content,
    .hero-image {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .tech {
        text-align: center;
        flex-direction: column;
    }

    .imagenes {
        flex: 1 1 100%;
        justify-content: center;
    }

    .tech h1 {
        flex: 1 1 100%;
        margin-top: 1rem;
        text-align: center;
    }
}
